html {
    background: linear-gradient(135deg, rgb(152, 73, 204), rgb(60, 40, 172));
    color: white;
    witdh: 100%;
    font-family: "Comic Sans MS", Verdana, Geneva, Tahoma, sans-serif;
}

input {
    background: linear-gradient(135deg, rgb(105, 43, 146), rgb(34, 19, 117));
    color: white;
    font-family: "Comic Sans MS", Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: none;
    background: linear-gradient(135deg, rgb(177, 134, 206),rgb(107, 92, 194));
    color: black;
    font-family: "Comic Sans MS", Verdana, Geneva, Tahoma, sans-serif;
}