ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444db0;
  }
  #menu {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
  }
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 255, 0, 0.349);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.screen {
  margin-top: 60px;
}

* {
  font-family: 'Source Sans Pro';
}

h2, h3 {
  margin: 3px;
}

p {
  margin: 3px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  padding: 14px 16px;
  background-color: #38444db0;
}

.box {
  width: 500px;
  height: 180px;
  border: 1px lightgray solid;
  border-radius: 10px;
  padding: 10px 10px;
}

.box p {
  font-size: smaller;
}

.box button {
  width: 70px;
  height: 30px;
  background-color: lightgray;
  border: #38444db0 1px solid;
  border-radius: 10px;
  margin: 10px;
  float: right;
}

.box span {
  float: left;
  font-style: italic;
  color: #38444db0;
  margin: 10px;
  font-size: small;
}
